body {
    min-width: 300px;
    border-radius: 24px;
    margin-top: 15px;
  }
  
  .display {
    border-radius: 24px;
    padding: 24px 24px 32px 24px;
    width: 300px;
    margin: 0 auto;
  }
  
  .display__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .display__right {
    display: flex;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  h1 {
    font-family: var(--sora);
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    color: #120B48;
  }
  
  .display__left {
  }
  
  .display__left > * {
    cursor: pointer;
  }
  
  .close {
    margin-left: 15px;
  }
  
  .display__text {
    font-family: var(--workSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    letter-spacing: 1.3px;
    color: #413C6D;
    margin-top: 20px;
  }
  
  .display__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .tab-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .tab-left > img {
  }
  
  .tab-left > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    color: #928FAB;
  }
  
  .tab-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .tab-right > img {
  }
  
  .tab-right > p {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.42px;
    color: #120B48;
  }
  
  .display__eventbox {
    margin-top: 15px;
  }
  
  .eventbox-camera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-left: 16px;
    padding-right: 12px;
    border-radius: 12px;
    border: 1px solid #100A42;
  }
  
  .camera-left {
    display: flex;
  }
  
  .camera-left > img {
    margin-right: 10px;
  }
  
  .camera-left > p {
    font-family: var(--workSans);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    color: #100A42;
  }
  
  .camera-right {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .camera__check {
    position: relative;
    width: 36px;
    height: 20px;
    appearance: none;
    background-color: #928FAB;
    outline: none;
    border-radius: 12px;
    padding: 2px;
    transition: 0.5s;
    margin-left: 3rem;
    cursor: pointer;
  }
  
  .camera__check:checked {
    background-color: #120B48;
  }
  
  .camera__check::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3rem;
    top: 2px;
    left: 2.5px;
    background-color: #120B48;
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  .camera__check:checked::before {
    top: 2px;
    left: 18px;
    background-color: #fff;
  }
  
  .eventbox-audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-top: 15px;
    padding-left: 16px;
    padding-right: 12px;
    border-radius: 12px;
    border: 1px solid #100A42;
  }
  
  .audio-right {
    display: flex;
    align-items: center;
  }
  
  .audio-right > img {
  }
  
  .audio-right > p {
  }
  
  .audio-left {
  }
  
  .display__button {
    margin-top: 15px;
    height: 51px;
    width: 100%;
    font-family: var(--workSans);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    color: #FAFDFF;
    background-color: #120B48;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
  
  .soft {
    color: red;
  }